/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  /* margin: 0 0 0 auto; */
  color: white;
}

nav {
  position: fixed;
  background: #154353;
  width: 100%;
  margin-right: -10rem;
  margin-bottom: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 15vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  opacity: 1;
  z-index: 1;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
}
nav .logo img {
  margin-left: 3rem;
  min-height: 70px;
  background: white;
  border-radius: 100%;
}
nav .logo h1 {
  margin: 2rem;
}

nav ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}
.nav a {
  color: white;
}
.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d39f),
    to(#38a4d3)
  );
  background: linear-gradient(left, #38d39f, #38a4d3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
  /* margin-top: 15rem; */
}

.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 5rem;
}

.active {
  /* background: #2c2c2c; */
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  margin-top: 20rem;
}

#plant-left {
  -webkit-animation: plant 1.5s ease infinite alternate;
  animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  -webkit-animation: me 1s ease infinite alternate;
  animation: me 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 1.5s infinite linear;
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

@-webkit-keyframes plant {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
}

@keyframes plant {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.projects h2 {
  margin: 5rem;
}
.github-button {
  display: flex;
  width: 20%;
  margin: auto;
  text-align: center;
  /* color: white; */
  text-align: center;
  /* background: black; */
  margin-bottom: 10rem;
  margin-top: 5rem;
  /* margin: 5px; */
}.headshot {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-top: -2rem;
}
.contact-symbol {
  height: 23px;
  margin-right: 1rem;
}
#contact {
  width: 80%;
  margin: auto;
  margin-top: 10rem;
  position: relative;
  text-align: center;
}
#contact h1 {
  margin-bottom: 1rem;
  font-size: 8rem;
  text-align: center;
}
#contact p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.contact-info {
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: left;
}

#contact a h6 {
  display: inline;
  border: black 2px solid;
  border-radius: 15px;
  margin-right: 5rem;
  padding: 2rem;
  max-width: 100px;
  vertical-align: middle;
}
#contact a h6:hover {
  background: black;
  color: white;
}
.form-section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  margin: auto;
  margin-top: 13rem;
}

.form-section form {
  padding: 3rem 10rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2),
    0px 20px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2rem;
}

.form-section form input,
.form-section form textarea {
  margin: 2rem;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.form-section form button {
  width: 100%;
  padding: 2rem;
  background: #154353;
  color: white;
}

.form-section form button:focus {
  background: #33696b;
}

footer {
  background: #154353;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 6rem;
}

footer ul {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

footer h4 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}
footer h6{
  color: white;
}

#about-me {
  width: 90%;
  margin: auto;
}
#about-me p {
  margin-top: 3rem;
  text-align: left;
}
#about-me h1 {
  font-size: 8rem;
  text-align: right;
  margin-top: 15rem;
  margin-bottom: 7rem;
  font-family: 'Montserrat', sans-serif;
}
.about-intro p {
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
}
.initial-about-me {
  font-weight: 600;
  text-align: left;
  margin-top: -4rem;
}

.me {
  position: relative;
  height: 300px;
  border: rgb(33, 9, 9) 1px solid;
  margin-right: 6rem;
  z-index: -1;
  margin-bottom: 5rem;
}
.easel {
  height: 550px;
  position: relative;
  margin-top: -1rem;
  margin-left: -9rem;
  z-index: -2;
 
  }
 
.brush {
  height: 15rem;
  position: absolute;
  z-index: 0;
  margin-top: 10rem;
  margin-left: 15rem;
  -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
  animation: plant 1s ease infinite alternate 0.5s;
}
@keyframes brush {
  from {
    -webkit-transform: translateY(40%);
    transform: translateY(50%);
  }
  to {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}

#education {
  width: 90%;
  margin: auto;
  text-align: right;
}
.education-container {
  text-align: center;

  border: black 4px solid;
  border-radius: 3rem;
  padding: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  min-width: 300px;
  max-width: 370px;
  min-height: 250px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
    15px 10px 10px rgba(7, 6, 6, 0.1);
}
#education h1 {
  font-size: 8rem;
}
#education p {
  margin-bottom: 1rem;
  text-decoration: underline;
}
#education h5 {
  font-size: 20px;
  font-weight: 1;
  margin-top: 1rem;
}
.technical-skills {
  text-align: center;
}
.technical-skills h1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: left;
}
.skills-container {
  border: black 1px solid;
  min-height: 240px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
    15px 10px 10px rgba(7, 6, 6, 0.1);
  border: black 4px solid;
  border-radius: 3rem;
}
